# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build outputs
output/
output/*
live-build/.build/
live-build/chroot/
live-build/binary/
live-build/cache/

# OS and Editor metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
