[Desktop Entry]
Type=Application
Version=1.0
Name=Install RIDA OS
GenericName=Live System Installer
Comment=Install the RIDA OS operating system onto your disk
Exec=sudo -E calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
